{% extends "pages/base.html" %} 
{% block title %}
{% if create_or_update %}
Create Brand
{% else %}
Update Brand
{% endif %}
{% endblock %} 
{% block main-content %}
<h1>
{% if create_or_update %}
Create New Brand:
{% else %}
Update Brand: {{ brand.name }}
</h1>
{% endif %}

<form method='POST'>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
</form>
<button type='submit'>
    {% if create_or_update %}
    Add Brand
    {% else %}
    Update Brand
    {% endif %}
</button>

{% endblock %}