{% extends "pages/base.html" %} 
{% block title %}
{% if create_or_update %}
Create Model
{% else %}
Update Model
{% endif %}
{% endblock %} 
{% block main-content %}
<h1>
{% if create_or_update %}
Create New Model:
{% else %}
Update Model: {{ model.name }}
</h1>
{% endif %}

<form method='POST'>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
</form>
<button type='submit'>
    {% if create_or_update %}
    Add Model
    {% else %}
    Update Model
    {% endif %}
</button>

{% endblock %}